/********** Template CSS **********/

:root {
    /** 
     *colors 
    */

    --primary: #EE5A3F;
    --secondary: #F8DED9;
    --light: #FBFBFB;
    --white: #FFFFFF;
    --dark: #303030;

    /**
     *typography
   */

  --ff-poppins: "Poppins", sans-serif;
  --ff-nunito-sans: "Nunito Sans", sans-serif;
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
}

body {
	margin:0;
	font-family: 'Poppins', sans-serif;
	background: var(--light); 
	position: relative;
}

body a {
	transition: 0.5s all;
	-webkit-transition: 0.5s all;
	-moz-transition: 0.5s all;
	-o-transition: 0.5s all;
	-ms-transition: 0.5s all;
	text-decoration:none;
	outline:none;
}

h1,h2,h3,h4,h5,h6 {
	margin: 0;
	font-family: 'Poppins', sans-serif;
}

p {
	margin: 0;
}

ul,label {
	margin: 0;
	padding: 0;
}

body a:hover {
	text-decoration: none;
}

body a:focus {
    outline: none;
}

/*-- Reused Component --*/

h3.w3title{
    font-family: var(--ff-poppins);
    font-size: 4rem;
    font-weight: 600;
    text-transform: capitalize;
    text-align: center;
    color: var(--dark);
}

.properties,
.services, .footer {
    padding: 5em 0;
}

.info{
    position: absolute;
    top: 1rem; right: 0;
    display: flex;
    margin: 1em 2em;
    padding: .5rem 1.5rem;
    background: var(--primary);
}

.info.sale { background: var(--primary); }

.info.rent { background: hsl(89, 72%, 45%); }

.services {
    background: var(--secondary);
}

.blog {
    background: var(--light);
} 

/*-- Header --*/

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    top: 0; left: 0;
    width: 100%;
    background: var(--primary);
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
    padding: 1rem 9%;
    z-index: 1000;
}

header .logo {
    font-size: 3.5rem;
    font-weight: 500;
    color: var(--light);
}

header .logo span {
    color: #d4af37;
}

header .navbar-box a {
    font-size: 1.7rem;
    font-weight: 400;
    margin-left: 2rem;
    color:var(--white);
    text-decoration: none;
    -webkit-transition:.5s all;
	-moz-transition:.5s all; 
	transition:.5s all;
}

header .navbar-box a:hover {
    color:var(--dark);
}

header input {
    display: none;
}

header label {
    font-size: 2.5rem;
    font-weight: 100;
    color:var(--white);
    cursor: pointer;
    visibility: hidden;
    opacity: 0;
}

/*-- Header ends --*/

/*-- Hero section --*/

.w3ls-banner {
	min-height: 799px;
	background:url(../images/BGIMG.jpg)no-repeat center 0px;
	background-size:cover;
	position: relative;
    overflow: hidden;
}

.banner-w3ltext {
    margin-top: 18em;
    text-align: center;
}

.banner-w3ltext h1 {
    font-size: 6rem;
    line-height: 1.2em;
    color: var(--white);
    font-weight: 600;
}

.banner-w3ltext p {
    font-family: var(--ff-nunito-sans);
    font-size: 2rem;
    color: var(--white);
    line-height: 2em;
    margin: 2em auto;
    font-weight: 400;
}
 
.wthree-btn {
    position: relative;
    display: inline-block;
    margin: 1em auto;
    text-transform: uppercase;
    overflow: hidden;
    border: 2px solid;
    padding: .7em 2em;
    color: var(--white);
	z-index: 9;
	font-size: 1em;
	outline:none;
}

/*-- Reuseable Btn --*/

.wthree-btn:focus {
	color: var(--white);
	text-decoration:none;
	outline: none;
}

a.wthree-btn.w3btn2 {
    color: #f44336;
	border-color:#f44336;
}
a.wthree-btn.w3btn2:hover{
    color: #fff; 
}

/*-- Deals-effect --*/

@-webkit-keyframes criss-cross-left {
  0% {
    left: -20px;
  }

  50% {
    left: 50%;
    width: 20px;
    height: 20px;
  }

  100% {
    left: 50%;
    width: 375px;
    height: 375px;
  }
}

@keyframes criss-cross-left {
  0% {
    left: -20px;
  }

  50% {
    left: 50%;
    width: 20px;
    height: 20px;
  }

  100% {
    left: 50%;
    width: 375px;
    height: 375px;
  }
}

@-webkit-keyframes criss-cross-right {
  0% {
    right: -20px;
  }
  50% {
    right: 50%;
    width: 20px;
    height: 20px;
  }
  100% {
    right: 50%;
    width: 375px;
    height: 375px;
  }
}
@keyframes criss-cross-right {
  0% {
    right: -20px;
  }

  50% {
    right: 50%;
    width: 20px;
    height: 20px;
  }

  100% {
    right: 50%;
    width: 375px;
    height: 375px;
  }
}
 
.wthree-btn:before, .wthree-btn:after {
	position: absolute;
	top: 50%;
	content: '';
	width: 20px;
	height: 20px;
	background: var(--primary);
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-o-border-radius: 50%;
	-ms-border-radius: 50%;
	border-radius: 50%;
	z-index: -1;
	transition:.5s all;
}

.wthree-btn:before {
	left: -20px;
	-webkit-transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	-o-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.wthree-btn:after {
	right: -20px;
	-webkit-transform: translate(50%, -50%);
	-moz-transform: translate(50%, -50%);
	-o-transform: translate(50%, -50%);
	-ms-transform: translate(50%, -50%);
    transform: translate(50%, -50%);
}

.wthree-btn:hover {
	color: var(--white);
}

.wthree-btn:hover:before {
	-webkit-animation: criss-cross-left 0.8s both; 
	-moz-animation: criss-cross-left 0.8s both;
	-o-animation: criss-cross-left 0.8s both;
	-ms-animation: criss-cross-left 0.8s both;
    animation: criss-cross-left 0.8s both;
}

.wthree-btn:hover:after {
	-webkit-animation: criss-cross-right 0.8s both;
	-moz-animation: criss-cross-right 0.8s both;
	-o-animation: criss-cross-right 0.8s both;
	-ms-animation: criss-cross-right 0.8s both;
	animation: criss-cross-right 0.8s both;
} 

a.wthree-btn.w3btn2.w3btn2a {
    padding: .5em 1.5em;
    font-size: 0.9em;
}

/*-- Hero section end --*/

/*-- Search detail starts --*/

.serach-w3agile {
    background: var(--primary);
    padding: 3em 0;
}

.form-box {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.place-grid h5 {
    font-size: 1.8rem;
    font-weight: 400;
    color: var(--white);
}

.sel {
    width: 100%;
    padding: .5em 1em;
    font-size: 1.5rem;
    margin-top: 1em;
    outline: none;
    text-transform: capitalize;
    border: 1px solid #6e5b5b;
}

.place-grid input[type="submit"] {
    width: 100%;
    background: var(--dark);
    border: none;
    outline: none;
    color: var(--white);
    padding: .6em;
    font-size: 1.5rem;
	-webkit-transition:.5s all;
	-moz-transition:.5s all;
	-o-transition:.5s all;
	-ms-transition:.5s all;
	transition:.5s all; 
}

.place-grid input[type="submit"]:hover{ 
    color: var(--dark);
    background: var(--secondary); 
}

.place-grid:nth-child(4) {
    margin-top: 2.6em;
} 

h2.tittle {
    font-size: 3.5em;
    text-align: center;
	color: #05222A;
}

.popular-grid h4 {
    font-size: 2em;
    text-align: center;
    background: #05222A;
    padding: 0.5em;
    color: #fff;
}

.popular-text {
    text-align: center;
    border-left: 3px double #E8EBEF;
    border-right: 3px double #E8EBEF;
    border-bottom: 3px double #E8EBEF;
}

.popular-grid:hover img {
    -webkit-transform: scale(0.9);
    -ms-transform: scale(0.9);
    -o-transform: scale(0.9);
    transform: scale(0.9);
}

.popular-grid img {
    -webkit-transition: all 2s ease-in-out;
    -moz-transition: all 2s ease-in-out;
    -o-transition: all 2s ease-in-out;
    transition: all 2s ease-in-out;
}
.detail-bottom ul {
    border-top: 1px solid #eee;
    padding: .5em 0;
}

.detail-bottom ul li.text-info {
    width: 53%;
    color: #777;
    font-size: 1em;
    font-weight: 400;
    float: left;
    text-align: left;
    margin-left: 0.8em;
    line-height: 2em;
}

.detail-bottom ul li.text-info1 {
    width: 20%;
    color: #777;
    font-size: 1em;
    font-weight: 400;
    float: right;
    text-align: right;
    margin-right: 0.8em;
    line-height: 2em;
}

/*-- Search detail ends --*/

/*-- Feature Properties starts --*/

.properties-con {
    margin-top: 4em;
}

.properties .box-container{
    display: flex;
    flex-wrap: wrap;
    gap: 2em;
    margin-top: 3em;
}

.properties .box-container .main-box{
    flex: 1 1 30rem;
    overflow: hidden;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
    background: var(--white);
}

.properties .box-container .main-box .image-container{
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 24rem;
}

.properties .box-container .main-box .image-container img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: .2s linear;
}

.properties .box-container .main-box:hover .image-container img{
    transform: scale(1.1);
}

.properties .box-container .main-box .image-container .info h4{
    font-size: 1.4rem;
    font-weight: 400;
    text-transform: uppercase;
    color:var(--white);
}

.properties .box-container .main-box .image-container .location-info{
    display: flex;
    position: absolute;
    bottom: 1rem; left: 0;
}

.properties .box-container .main-box .image-container .location-info i{
    display: flex;
    align-items: center;
    font-size: 1.5rem;
    color: var(--white);
    background: rgba(0,0,0,.3);
    padding: 0.5em;
}

.properties .box-container .main-box .image-container .location-info i p{
    margin-left: 0.5em;
    font-size: 1.5rem;
    font-weight: 400;
    color: var(--white);
}

.properties .box-container .main-box .content{
    padding: 1em 1.5em;
}

.properties .box-container .main-box .content .content-details{
    margin-bottom: 1.3em;
}

.properties .box-container .main-box .content .content-details a {
    text-decoration: none;
}

.properties .box-container .main-box .content .content-details a h3 {
    margin-bottom: 0.8em;
    font-size: 2rem;
    font-weight: 600;
    color: var(--dark);
    -webkit-transition:.5s all;
	-moz-transition:.5s all; 
	transition:.5s all;
}

.properties .box-container .main-box .content .content-details a h3:hover {
    color: var(--primary);
}

.properties .box-container .main-box .content .content-details p {
    font-family: var(--ff-nunito-sans);
    font-size: 1.5rem;
    color:#666;
    line-height: 1.5;
}

.properties .box-container .main-box .content .more-details {
    display: flex;
    margin-bottom: 1.2em;
}

.properties .box-container .main-box .content .more-details h3 {
    flex: 1;
    padding: 1rem;
    font-family: var(--ff-nunito-sans);
    font-weight: 400;
    font-size: 1.6rem;
    color: #666;
    border:.1rem solid rgba(0,0,0,.1);

}

.properties .box-container .main-box .content .more-details h3 span {
    font-size: 1.7rem;
    font-weight: 700;
}

.properties .box-container .main-box .content .more-details h3 i {
    color: #a09e9e;
    padding-left: .5rem;
    padding-bottom: 1rem;
}

.properties .box-container .main-box .content .price {
    display: flex;
}

.properties .box-container .main-box .content .price h3 {
    color:var(--primary);
    font-size: 2.5rem;
    font-weight: 600;
}

/*-- Feature Properties ends --*/

/*-- Services starts --*/

p.wthree-ttext {
    font-family: var(--ff-nunito-sans);
    font-size: 2rem;
    text-align: center;
    color: var(--dark);
    line-height: 1.8em;
    width: 50%;
    margin: 1em auto 0;
    font-weight: 400;
}

.services-grids { 
    text-align: center;  
    margin-top: 6em; 
}

.services-grids .icon-holder {
    display: inline-block;
    color: var(--primary);
    font-size: 1.8em;
    width: 76px;
    height: 42px;
    background: var(--white);
    position: relative;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    -ms-transition: all 0.5s;
    transition: all 0.5s;
    line-height: 1.8em;
}

.services-grids h4 {
    font-family: var(--ff-poppins);
    font-size: 2rem;
    font-weight: 600; 
    text-transform: capitalize;
	margin:1.5em 0 .6em;
    color: var(--dark);
}

.services-grids p {
    font-family: var(--ff-nunito-sans);
    font-size: 1.6rem;
    width: 80%;
    margin: 0 auto; 
    color: var(--dark);
}

.hexagon:before {
    content: "";
    position: absolute;
    top: -20px;
    left: 0;
    width: 0;
    height: 0;
    border-left: 38px solid transparent;
    border-right: 38px solid transparent;
    border-bottom: 20px solid var(--white);
	-webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    -ms-transition: all 0.5s;
    transition: all 0.5s; 
}

.hexagon:after {
	content: "";
	position: absolute;
	bottom: -20px;
	left: 0;
	width: 0;
	height: 0;
	border-left: 38px solid transparent;
	border-right: 38px solid transparent;
	border-top: 20px solid var(--white);
	-webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    -ms-transition: all 0.5s;
    transition: all 0.5s; 
}

.services-grids:hover .hexagon:before { 
	border-bottom-color: var(--primary);
}

.services-grids:hover .hexagon:after { 
	border-top-color: var(--primary);
}

/*-- Services ends --*/

/*-- Our blog starts --*/

.blog-w3lgrids {
    margin-top: 4em;
}

.blog-w3img a {
    display: block;
    overflow: hidden;
}

.blog-w3img a img {
  width: 100%;
  -webkit-transform: scaleY(1);
    -moz-transform: scaleY(1);
    -o-transform: scaleY(1);
    -ms-transform: scaleY(1);
    transform: scaleY(1);
    -webkit-transition: all 0.7s ease-in-out;
    -moz-transition: all 0.7s ease-in-out;
    -o-transition: all 0.7s ease-in-out;
    -ms-transition: all 0.7s ease-in-out;
    transition: all 0.7s ease-in-out;
}

.blog-w3img a img:hover {
	-webkit-transform: scale(1.5);
    -moz-transform: scale(1.5);
    -o-transform: scale(1.5);
    -ms-transform: scale(1.5);
    transform: scale(1.5);
}

.blog-w3imgtext {
    padding: 0em 1.5em;
    background: var(--white);
	-webkit-box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
	-moz-box-shadow: 0 .5rem 1rem rgba(0,0,0,.1); 
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
}

.blog h4 {
    font-family: var(--ff-poppins);
    font-size: 2rem;
    padding: 0.8em 0 .5em;
    font-weight: 600;
    letter-spacing: 0.1px;
    color: var(--dark);
}

.blog h4 a {
	color: var(--dark);
	text-decoration:none;
	-webkit-transition:.5s all;
	-moz-transition:.5s all; 
	transition:.5s all;
}

.blog  h4 a:hover {
	color:var(--primary);
}

.blog p a {
	color: var(--primary);
	-webkit-transition:.5s all;
	-moz-transition:.5s all; 
	transition:.5s all;
}

.blog p a:hover {
	color: var(--dark);
}

.blog p.w3-agilep {
    font-family: var(--ff-poppins);
    font-size: 1.5rem;
    font-style: italic;
    margin: 0 0 0.6em;
}

.blog .w3-agilep-p {
    font-family: var(--ff-nunito-sans);
    font-size: 1.5rem;
    line-height: 1.5;
    color: #666;
    margin: 0 0 0.6em;
}

.blog .w3lsmore {
    margin-top: 1.5em;
}

/* Our blog ends */

/*-- Contact starts --*/

.contact-w3ls-row {
    width: 70%;
    margin: 4em auto 0;
}

.contact input[type="text"] {
    width: 48.5%;
    padding: 1em;
    margin-bottom: 1.5em;
    float: left;
    font-family: var(--ff-nunito-sans);
    font-size: 1em;
    color: var(--dark);
    background: var(--white);
    outline: none;
    border: solid 1px var(--light);
    -webkit-appearance: none;
    display: inline-block;
}

.contact input.email {
    float: right;
}

.contact textarea {
    width: 100%;
    padding: .7em .8em;
    font-family: var(--ff-nunito-sans);
    font-size: 1em;
    resize: none;
    color: var(--dark);
    background: var(--white);
    outline: none;
    border: solid 1px var(--light);
    min-height: 12em;
    -webkit-appearance: none;
}

.contact input[type="submit"] {
    outline: none;
    color: var(--white);
    padding: 0.8em 4em;
    font-size: 1em;
    margin: 1em 0 0 0;
    -webkit-appearance: none;
    background: var(--primary);
	border: none; 
    -webkit-transition: 0.5s all;
    transition: 0.5s all;
    -moz-transition: 0.5s all;
    width: 100%;
}

.contact input[type="submit"]:hover {
    background: var(--dark);
    color: var(--white);
    border-color: none;
}

::-webkit-input-placeholder {
	color: var(--dark) !important;
}

:-moz-placeholder { /* Firefox 18- */
	color:var(--dark) !important;
}

::-moz-placeholder {  /* Firefox 19+ */
	color:var(--dark) !important;
}

:-ms-input-placeholder {  
	color:var(--dark) !important;
}

/*-- Contact ends --*/

/* -- Footer starts **/

.footer {
    background: var(--dark);
}

.footer a {
    color: var(--white);
}

.footer .footer-box {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 3em;
}

.footer .footer-box .footer-section {
    flex: 1;
    padding: 25px;
}

.footer .footer-box .brand {
    flex: 1 1 15em;
}

.footer-box .brand .logo {
    font-size: 3.5rem;
    font-weight: 500;
}

.footer-box .brand .logo span {
    color: #d4af37;
}

.footer-box .brand .section-text {
    font-family: var(--ff-nunito-sans);
    font-size: 1.7rem;
    line-height: 1.5;
    color: var(--white);
    margin-top: 0.5em;
    margin-bottom: 1.2em;
    max-width: 33ch;
}

.footer-box .brand .contact-list {
    display: grid;
    gap: 1em;
    margin-bottom: 2.5em;
}

.footer-box .brand .contact-list .contact-link {
    display: inline-flex;
    align-items: flex-start;
    gap: 0.7em;
    text-decoration: none;
}

.footer-box .brand .contact-list .contact-link i { 
    font-size: 2rem;
}

.footer-box .brand .contact-list .contact-link span {
    font-family: var(--ff-nunito-sans);
    font-size: 1.6rem;
    color: var(--light); 
}


.footer-box .brand .contact-list .contact-link:is(:hover, :focus) span {
    color: var(--secondary);
    text-decoration: none; 
}

.footer-box .brand .social-list {
    display: flex;
    align-items: center;
    gap: 1.3em;
}

.footer-box .brand .social-list i {
    font-size: 2.5rem;
    -webkit-transition: 0.5s all;
    transition: 0.5s all;
    -moz-transition: 0.5s all;
}

.footer-box .brand .social-list i:hover {
    color: var(--secondary);
}

.footer .footer-box .footer-section h2 {
    font-size: 3rem;
    font-weight: 600;
    color: var(--white);
}

.footer .footer-box .company ul a,
.footer .footer-box .links ul a {
    display: inline-block;
    font-family: var(--ff-nunito-sans);
    font-size: 2rem;
    text-decoration: none;
    margin-bottom: 1em;
    -webkit-transition: 0.5s all;
    transition: 0.5s all;
    -moz-transition: 0.5s all
}

.footer .footer-box .company ul a:hover,
.footer .footer-box .links ul a:hover {
    color: var(--secondary);
}

.footer .footer-bottom {
    position: absolute;
    left: 0; bottom: 0;
    display: flex; 
    justify-content: center;
    align-items: center; 
    background: #414141;
    height: 4em;
    width: 100%;
}

.footer .footer-bottom p {
    font-family: var(--ff-nunito-sans);
    font-size: 1.7rem;
    color: var(--white);
}

/*-- Modal about starts --*/

.modal-open .modal {
    background: rgba(0, 0, 0, 0.48);
}

.modal-body {
    padding: 0 2em 2.5em;
}

.modal-dialog {
    margin: 6em auto 0;
}

.modal-body.modal-spa img {
    width: 100%;
}

.modal-body h4 {
    font-family: var(--ff-poppins);
    font-size: 1.6em;
    font-weight: 500;
    color: var(--dark);
    margin: .8em 0 .5em;
}

.modal-body p {
    font-family: var(--ff-nunito-sans);
    font-weight: 400;
}

.bnr-modal .modal-header {
    border: none;
    min-height: 2.5em;
    padding: 0.5em 2em 0;
}

.bnr-modal button.close {
    color: var(--primary);
    opacity: .9;
    font-size: 2.5em;
	outline:none;
}

/*-- Modal about ends --*/